* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    background: linear-gradient(#459589 125px, #D5DBD9 125px, #D5DBD9 calc(100% - 150px));
}

/* --------------------------------------------- */
/* START */

.main {
    /* border: 3px solid greenyellow; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 40px;
    height: 40px;
}

i {
    color: #B1B1B1;
    font-size: 1.3em;
}

i:hover {
    cursor: pointer;
    color: #69686A;
}

.text-grey {
    color: #838383;
    font-size: 0.8em;
}

/* --------------------------------------------- */
/* 10 MAIN CONTAINER */

.wrapper {
    border: 1px solid #B1B1B1;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 1100px;
    height: calc(100% - 80px);
    border-radius: 21px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* --------------------------------------------- */
/* 20 COLONNA SX */

.col-left {
    /* border: 3px solid royalblue; */
    flex-grow: 1;
    background-color: #FFFFFF;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* --------------------------------------------- */
/* 30 ACCOUNT */

.left_profile-top-section {
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 10px;
    align-items: center;
    border-top-left-radius: 20px;
}

.profile-top-sx {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-top-dx {
    display: flex;
    gap: 10px;
}

/* --------------------------------------------- */
/* 40 ATTIVA NOTIFICHE */

.left_notification-silent {
    background-color: #8EDAFB;
    display: flex;
    width: 100%;
    height: 70px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    /* border-radius: 10px; */
}

.silent-bell {
    background-color: #FFFFFF;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #8EDAFB;
}

.silent-icon {
    display: flex;
    flex-direction: column;
}

/* --------------------------------------------- */
/* 50 CERCA CHAT */

.left_search-bar {
    background-color: #FAFAFA;
    /* display: flex; */
    width: 100%;
    height: 50px;
    padding: 10px;
    position: relative;
}

.icon-search {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
}

.input-search {
    width: 100%;
    padding-left: 40px;
    line-height: 35px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.2), 0 0.5px 1px 0 rgba(0, 0, 0, 0.19);
}

/* --------------------------------------------- */
/* 60 TUTTE LE CHAT */

.left_all-chat {
    /* border: 1px solid red; */
    background-color: #FFFFFF;
    border-bottom-left-radius: 20px;
    overflow-y: auto;
}

/* --------------------------------------------- */
/* 61 CHAT SELEZIONATA */

.selected-chat {
    background-color: #EAEBEB;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    padding: 10px;
    justify-content: space-between;
    /* border-radius: 5px; */
}

.wrap_chat-1 {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    gap: 10px;
}

.spec_chat-1 {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 6px;
}

/* --------------------------------------------- */
/* 62 CHAT SECONDARIA */

.other-chat {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    padding: 10px;
    justify-content: space-between;
}

/* --------------------------------------------- */
/* 70 COLONNA DX */

.col-right {
    /* border: 3px solid red; */
    /* flex-grow: 2.5; */
    flex-grow: 6;
    height: 100%;
    border-left: 2px solid #D3D3D3;
    border-top-right-radius: 20px;
}

/* --------------------------------------------- */
/* 80 PROFILO CHAT SELEZIONATA */

.right_profile-top-chat {
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 10px;
    align-items: center;
    border-top-right-radius: 20px;
}

.chat-top-sx {
    /* border: 1px solid black; */
    display: flex;
}

.chat-top-dx {
    /* border: 1px solid black; */
    display: flex;
    gap: 10px;
}

/* --------------------------------------------- */
/* 90 CHAT SELEZIONATA */

.right_main-chat {
    background-color: #E4DDD5;
    display: flex;
    justify-content: space-around;
    height: calc(100% - 60px - 60px);
}

/* --------------------------------------------- */
/* 100 SCRIVI UN MESSAGGIO */

.right_write-bottom-chat {
    background-color: #F3EEEB;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    align-items: center;
    gap: 20px;
    border-bottom-right-radius: 20px;
}

.input-write {
    width: 100%;
    padding-left: 15px;
    /* line-height: 35px; */
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.2), 0 0.5px 1px 0 rgba(0, 0, 0, 0.19);
}

/* --------------------------------------------- */
